@page "/"
<!------------------------------------------------------------------------------
  Copyright 2021-2025 Starion Group S.A.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
------------------------------------------------------------------------------->

@using System.Globalization
@using ReqIFSharp

<div class="row mt-5 pt-5 text-center">
    <div class="col-md-12">
        <h1>ReqIF Viewer</h1>
        <h2>Open a ReqIF file and inspect its contents</h2>
    </div>
</div>

<div class="row">
    <div class="col align-self-center">
        <div class="input-group mb-3">
            <InputFile OnChange="HandleSelection" id="inputGroupFile" class="form-control" accept=".reqif,.reqifz,.zip"></InputFile>
        </div>
    </div>
    <span class="text-danger pb-3">@(this.ErrorMessage)</span>
</div>

<RadzenButton style="margin: 0 1rem 1rem 0; width: 200px" Icon="update" Disabled="@(!reqifisAvailable)" BusyText="Loading ..." IsBusy="@this.IsLoading" Click="@(this.OnLoadReqIF)" Text="Load" />
<RadzenButton style="margin: 0 1rem 1rem 0; width: 200px" Click="@this.OnCancel" Text="Cancel" Disabled="@(!this.IsLoading)" />
<RadzenButton style="margin: 0 1rem 1rem 0; width: 200px" Click="@this.OnClear" Text="Clear" Disabled="@(this.reqIfs == null)" />

@if (this.IsLoading)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else
{
    if (this.reqIfs != null)
    {
        <RadzenDataGrid Data="@reqIfs" TItem="ReqIF">
            <Columns>
                <RadzenDataGridColumn Sortable="true" TItem="ReqIF" Title="Title">
                    <Template Context="data">
                        <a href="/reqifstatistics/@data?.TheHeader.Identifier">@data?.TheHeader?.Title</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Sortable="true" TItem="ReqIF" Title="ReqIF Version">
                    <Template Context="data">
                        @data?.TheHeader?.ReqIFVersion
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Sortable="true" TItem="ReqIF" Title="Creation Date">
                    <Template Context="data">
                        <div>@data?.TheHeader?.CreationTime.ToString("yyyy-MM-dd, HH:mm:ss", CultureInfo.InvariantCulture)</div>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Sortable="true" TItem="ReqIF" Title="Comment">
                    <Template Context="data">
                        <div>@data?.TheHeader?.Comment</div>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Sortable="true" TItem="ReqIF" Title="Tool">
                    <Template Context="data">
                        <div>@data?.TheHeader?.ReqIFToolId</div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
}